# Discord Bot credentials
# Obtain these from https://discord.com/developers/applications

DISCORD_PUBLIC_KEY=your_discord_public_key
DISCORD_TOKEN=your_discord_bot_token
DISCORD_APPLICATION_ID=your_discord_application_id
DISCORD_GUILD_ID=your_discord_guild_id
